sharedModule/src/main/resources/nkp/pspValidator/shared/fDMF/monograph_1.2/fdmf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="fDMF" type="fDMFType"/>

    <xs:complexType name="fDMFType">
        <xs:sequence>
            <xs:element type="namespacesType" name="namespaces"/>
            <xs:choice maxOccurs="unbounded">
                <xs:element type="pattern-defType" name="pattern-def" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="value-defType" name="value-def" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="rules-sectionType" name="rules-section" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="namespacesType">
        <xs:sequence>
            <xs:element type="xs:string" name="namespace-alto">
                <xs:annotation>
                    <xs:documentation>prefix alto</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-copyright_md">
                <xs:annotation>
                    <xs:documentation>prefix cmd</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-dublin_core">
                <xs:annotation>
                    <xs:documentation>prefix dc</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-mets">
                <xs:annotation>
                    <xs:documentation>prefix mets</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-mix">
                <xs:annotation>
                    <xs:documentation>prefix mix</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-mods">
                <xs:annotation>
                    <xs:documentation>prefix mods</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-oai_dc">
                <xs:annotation>
                    <xs:documentation>prefix oai_dc</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-premis">
                <xs:annotation>
                    <xs:documentation>prefix premis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="namespace-xlink">
                <xs:annotation>
                    <xs:documentation>prefix xlink</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pattern-defType">
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="expressionType" name="expression" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <xs:complexType name="expressionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="caseSensitive" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="value-defType">
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="value-refType" name="value-ref" minOccurs="0"/>
            <xs:element type="evaluationType" name="evaluation" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <!--TODO: omezity typy-->
        <xs:attribute type="dataValueType" name="type"/>
    </xs:complexType>

    <xs:complexType name="value-refType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="evaluationType">
        <xs:sequence>
            <xs:element type="paramsType" name="params"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="functionName"/>
    </xs:complexType>

    <xs:complexType name="paramsType">
        <xs:choice maxOccurs="unbounded">
            <xs:element type="valueType" name="value" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="patternType" name="pattern" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="valueType" mixed="true">
        <xs:sequence>
            <xs:element type="value-refType" name="value-ref" minOccurs="0"/>
            <xs:element type="evaluationType" name="evaluation" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="dataValueType" name="type"/>
    </xs:complexType>

    <xs:complexType name="patternType">
        <xs:sequence>
            <xs:element type="pattern-refType" name="pattern-ref"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <xs:complexType name="pattern-refType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="rules-sectionType" mixed="true">
        <xs:sequence>
            <xs:element type="ruleType" name="rule" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ruleType">
        <xs:sequence>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="validationType" name="validation"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="ruleLevelType" name="level" use="optional"/>
    </xs:complexType>

    <xs:complexType name="validationType">
        <xs:sequence>
            <xs:element type="paramsType" name="params"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="functionName"/>
    </xs:complexType>


    <xs:simpleType name="dataValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STRING"/>
            <xs:enumeration value="INTEGER"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="IDENTIFIER"/>
            <xs:enumeration value="STRING_LIST"/>
            <xs:enumeration value="INTEGER_LIST"/>
            <xs:enumeration value="FILE_LIST"/>
            <xs:enumeration value="IDENTIFIER_LIST"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ruleLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="ERROR"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>